<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新年エラー占い</title>
	<meta name="description" content="Examples and documentation on grumble.js">
	<meta name="author" content="James Cryer">

	<link rel="stylesheet" href="{{ url_for('static', filename='css/grumble.min.css') }}">
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/bootstrap.css') }}" rel="stylesheet">


	<style>
		body {
			font-size: 16px;
			line-height: 24px;
			background: #fff;
			color: #330;
			font-family: "Georgia", FreeSerif, serif;
			padding-left: 30px;
			}
		h1, h2, h3, h4, h5, h6 {
			margin-top: 40px;
			display:inline-block;
			}
	</style>
</head>
<body>
	
</body>
</html>